[submodule "site/plugins/auaust-secrets"]
	path = site/plugins/auaust-secrets
	url = https://github.com/AUAUST/tools-kplugin-secrets
[submodule "site/plugins/auaust-tags"]
	path = site/plugins/auaust-tags
	url = https://github.com/AUAUST/tools-kplugin-tags
[submodule "site/plugins/auaust-users"]
	path = site/plugins/auaust-users
	url = https://github.com/AUAUST/tools-kplugin-users
