Icon
.DS_Store

.lock
.zip

/vendor/*
/public/media/*
!/public/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

/storage/cache/*
!/storage/cache/index.html

/storage/sessions/*
!/storage/sessions/index.html

/settings/users/accounts/*
!/settings/users/accounts/index.html

/settings/config/.license
/settings/config/.secrets
